Service References/appharbor/EbayService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EbayFactory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EbayFactory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblItem" nillable="true" type="tns:tblItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblItem" nillable="true" type="tns:ArrayOftblItem" />
  <xs:complexType name="tblItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="gallery_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listing_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblItem" nillable="true" type="tns:tblItem" />
  <xs:complexType name="ArrayOfcat_count">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cat_count" nillable="true" type="tns:cat_count" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcat_count" nillable="true" type="tns:ArrayOfcat_count" />
  <xs:complexType name="cat_count">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="category_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cat_count" nillable="true" type="tns:cat_count" />
</xs:schema>