Service References/ServiceReference1/EbayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="EbayClient" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="EbayClient" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="EbayClient/Imports">
      <xsd:import schemaLocation="http://localhost:22065/EbayService.svc?xsd=xsd0" namespace="EbayClient" />
      <xsd:import schemaLocation="http://localhost:22065/EbayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22065/EbayService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:22065/EbayService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EbayFactory" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEbayClient_FindByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByCategory" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_FindByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_EbayTopLevelCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:EbayTopLevelCategories" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_EbayTopLevelCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:EbayTopLevelCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_CreateSiteDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSiteDataBase" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_CreateSiteDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSiteDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_SetCategoryCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCategoryCount" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_SetCategoryCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCategoryCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_ItemByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemByCategory" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_ItemByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_GetCategoryCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryCount" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_GetCategoryCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_FindByKeyWord_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByKeyWord" />
  </wsdl:message>
  <wsdl:message name="IEbayClient_FindByKeyWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByKeyWordResponse" />
  </wsdl:message>
  <wsdl:portType name="IEbayClient">
    <wsdl:operation name="FindByCategory">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientWrite/FindByCategory" message="tns:IEbayClient_FindByCategory_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientWrite/FindByCategoryResponse" message="tns:IEbayClient_FindByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EbayTopLevelCategories">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientWrite/EbayTopLevelCategories" message="tns:IEbayClient_EbayTopLevelCategories_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientWrite/EbayTopLevelCategoriesResponse" message="tns:IEbayClient_EbayTopLevelCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSiteDataBase">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientWrite/CreateSiteDataBase" message="tns:IEbayClient_CreateSiteDataBase_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientWrite/CreateSiteDataBaseResponse" message="tns:IEbayClient_CreateSiteDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCount">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientWrite/SetCategoryCount" message="tns:IEbayClient_SetCategoryCount_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientWrite/SetCategoryCountResponse" message="tns:IEbayClient_SetCategoryCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientRead/GetCategories" message="tns:IEbayClient_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientRead/GetCategoriesResponse" message="tns:IEbayClient_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemByCategory">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientRead/ItemByCategory" message="tns:IEbayClient_ItemByCategory_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientRead/ItemByCategoryResponse" message="tns:IEbayClient_ItemByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientRead/TestConnection" message="tns:IEbayClient_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientRead/TestConnectionResponse" message="tns:IEbayClient_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryCount">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientRead/GetCategoryCount" message="tns:IEbayClient_GetCategoryCount_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientRead/GetCategoryCountResponse" message="tns:IEbayClient_GetCategoryCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByKeyWord">
      <wsdl:input wsaw:Action="EbayClient/IEbayClientRead/FindByKeyWord" message="tns:IEbayClient_FindByKeyWord_InputMessage" />
      <wsdl:output wsaw:Action="EbayClient/IEbayClientRead/FindByKeyWordResponse" message="tns:IEbayClient_FindByKeyWord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>